@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-color: #99bfb2d4;
}

h1{
    color: #933061;
    font-family: "Roboto Slab";
}

.caixa-pergunta{
    color: #333232;
    font-family: "Roboto Slab";
    font-size: 30px;
}